[submodule "uptrips_api"]
	path = uptrips_api
	url = https://github.com/ThiagoMoralesRibeiro/uptrips_api
[submodule "uptrips_frontend"]
	path = uptrips_frontend
	url = git@github.com:ThiagoMoralesRibeiro/uptrips_frontend.git
